.whlo{
    width: 1350px;
    height: 600px;
    background-color: tomato;
    color: black;
    
}
.name{
    font-size: 20px;
    margin-left: 50px;
   
}
.date{
    font-size: 20px;
    margin-left: 50px;
}
.blood{
    font-size: 20px;
    margin-left: 50px;
}
.class{
    font-size: 20px;
    margin-left: 50px;
}
.section{
    font-size: 20px;
    margin-left: 50px;
}
.fname{
    font-size: 20px;
    margin-left: 50px;
}
.mname{
    font-size: 20px;
    margin-left: 50px;
}
.fatherocc{
    font-size: 20px;
    margin-left: 50px;
}
.email{
    font-size: 20px;
    margin-left: 50px;
}
.address{
    font-size: 20px;
    margin-left: 50px;
}
.fphone{
    font-size: 20px;
    margin-left: 50px;
    
}
.namein{
    margin-left: 200px;
    margin-top: 20px;
}
.datein{
    margin-left: 138px;
    margin-top: 20px;
}
.bloodin{
    margin-left: 145px;
    margin-top: 20px;
}
.classin{
    margin-left: 216px;
    margin-top: 20px;
    
}
.llt{
    margin-left: 50px;
    margin-top: 50px;
}
.but1{
    background-color: brown;
    margin-left: 700px;
}
.but2{
    background-color: brown;
    margin-left: 300px;
}
.sectionin{
    margin-left: 192px;
    margin-top: 20px;
}
.fin{
    margin-left: 148px;
    margin-top: 20px;
}
.min{
    margin-left: 133px;
    margin-top: 20px;
}
.foin{
    margin-left: 100px;
    margin-top: 20px;
}
.fpin{
    margin-left: 60px;
    margin-top: 20px;
}
.emailin{
    margin-left: 189px;
    margin-top: 20px;
}
.addin{
    margin-left: 189px;
    margin-top: 20px;
}

