.pop{
    margin-left: 50px;
    margin-top: 50px;
}
.name1{
    font-size: 20px;
    margin-left: 50px;
   
}
.name1in{
    margin-top: 20px;

}
.qua{
    font-size: 20px;
    margin-left: 50px;
   
}
.quain{
    margin-top: 20px;
}
.phn{
    font-size: 20px;
    margin-left: 50px;
   
}
.phnin{
    margin-top: 20px;
}
.dob{
    font-size: 20px;
    margin-left: 50px;
   
}
.dobin{
    margin-top: 20px;
}
.gen{
    font-size: 20px;
    margin-left: 50px;
   
}
.genin{
    margin-top: 20px;
}
.core{
    font-size: 20px;
    margin-left: 50px;
   
}
.corein{
    margin-top: 20px;
}
.exp{
    font-size: 20px;
    margin-left: 50px;
   
}
.exin{
    margin-top: 20px;
}
.mar{
    font-size: 20px;
    margin-left: 50px;
   
}
.marin{
    margin-top: 20px;
}
.email1{
    font-size: 20px;
    margin-left: 50px;
   
}
.email1in{
    margin-top: 20px;
}
.add1{
    font-size: 20px;
    margin-left: 50px;
   
}
.add1in{
    margin-top: 20px;
}